# Исключить файлы и папки, созданные операционной системой
.DS_Store
Thumbs.db

# Исключить папку node_modules и все содержимое
node_modules/

# Исключить файлы конфигурации IDE и текстовых редакторов
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Исключить временные файлы
*~
*.log
logs/
.legacy/

# Исключить файлы с расширениями, связанными с сборкой проекта
dist/
*.min.js
*.min.css

# Исключить файлы с личной информацией, такие как пароли
.env
.env.local
.env.*.local

# Игнорировать файлы с результатами сборки
build/